DB_HOST=postgres # if running with docker compose
# DB_HOST=localhost # if running from local node.js (npm run dev)


DB_PORT=5432 # if running with docker compose 
# DB_PORT=5433 # if running from local node.js (npm run dev)
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=deployer

NODE_ENV=development
JWT_SECRET=Deployer@2026